@import 'header';
@import 'beer';
@import 'beerlist';
@import 'spinner';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  background-color: #0a2e01;
}